pipeline/adf-historical-forcast.json
{
	"name": "adf-historical-forcast",
	"properties": {
		"description": "Captures historical forecast for meteorological stations from data.gov.uk, and then for the above meteorological stations, constantly ingest current weather and future forecasts data from openweathermap",
		"activities": [
			{
				"name": "Lookup_GetCityList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "blob_historical_weather",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_GetCityList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_GetCityList').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "WebActivity1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "http://api.openweathermap.org/data/2.5/forecast/daily?q={0}APPID={1}",
								"method": "GET",
								"headers": {
									"q": {
										"value": "@activity('Lookup_GetCityList').output",
										"type": "Expression"
									},
									"APPID": "3b57dd0a2acb41fc8430fc63feb7e474"
								},
								"linkedServices": [
									{
										"referenceName": "LinkedService_REST_Historical_Forcast",
										"type": "LinkedServiceReference"
									}
								],
								"datasets": [
									{
										"referenceName": "historical_forcast",
										"type": "DatasetReference"
									}
								]
							}
						},
						{
							"name": "Copy Data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "WebActivity1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings",
										"quoteAllText": true,
										"filePattern": "setOfObjects"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "historical_forcast",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "JSON_For_WebAPI_Output",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 1,
		"annotations": []
	}
}