pipeline/adf-historical-forcast.json
{
	"name": "adf-historical-forcast",
	"properties": {
		"description": "Captures historical forecast for meteorological stations from data.gov.uk, and then for the above meteorological stations, constantly ingest current weather and future forecasts data from openweathermap",
		"activities": [
			{
				"name": "Lookup_GetCityList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "blob_historical_weather",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Inner_pipeline_GetWeatherForEachCity",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup_GetCityList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Inner_Pipeline_GetWeatherForEachCity",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"citylist": {
							"value": "@activity('Lookup_GetCityList').output",
							"type": "Expression"
						}
					}
				}
			}
		],
		"concurrency": 1,
		"annotations": []
	}
}