etl-weather-analytics/PartialArmTemplates/ArmTemplate_9_19_2019_16_50_25.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "etl-weather-analytics"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Outer_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This Pipeline execute inner pipeline which loops through list of cities and pulls weather logs for these cities",
				"activities": [
					{
						"name": "Exec_Copy_API_To_Blob",
						"description": "This executes internal pipeline ",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CityList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "COPY_API_TO_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"CityList": {
									"value": "@activity('CityList').output.value",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CityList",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "Blob_CityList",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		}
	]
}