etl-weather-analytics/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "etl-weather-analytics"
		},
		"BlobStorage_For_API_Output_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BlobStorage_For_API_Output'"
		},
		"LinkedRestService_CurrentAndForecasted_Weather_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LinkedRestService_CurrentAndForecasted_Weather'"
		},
		"LinkedRestService_CurrentAndForecasted_Weather_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.openweathermap.org/"
		},
		"LinkedRestService_CurrentAndForecasted_Weather_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "dbkulkarni@gmail.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Outer_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This Pipeline execute inner pipeline which loops through list of cities and pulls weather logs for these cities",
				"activities": [
					{
						"name": "City",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "q",
								"value": "Delhi"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "Blob_CityList",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Copy Current and Forecasted Weather",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "City",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('City').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Forcasted_Weather_Copy",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Current_Weather_Copy",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "data/2.5/forecast?mode=json&APIKEY=3b57dd0a2acb41fc8430fc63feb7e474&q=@{item().City}"
										},
										{
											"name": "Destination",
											"value": "forecasted-weather-output-files//"
										}
									],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": {
													"value": "@activity('City').output",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "JsonWriteSettings",
												"quoteAllText": true,
												"filePattern": "arrayOfObjects"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_ForecastedWeather",
											"type": "DatasetReference",
											"parameters": {
												"q": {
													"value": "@activity('City').output",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDatasetBlob_ForecastedWeather",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Current_Weather_Copy",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "data/2.5/weather?APIKEY=3b57dd0a2acb41fc8430fc63feb7e474&q=@{item().City}"
										},
										{
											"name": "Destination",
											"value": "current-weather-output-files//"
										}
									],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": {
													"value": "@activity('City').output",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "JsonWriteSettings",
												"quoteAllText": true,
												"filePattern": "arrayOfObjects"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_CurrentWeather",
											"type": "DatasetReference",
											"parameters": {
												"q": {
													"value": "@activity('City').output",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDatasetBlob_CurrentWeather",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Blob_CityList')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_ForecastedWeather')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDatasetBlob_ForecastedWeather')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_CurrentWeather')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDatasetBlob_CurrentWeather')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob_CityList')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorage_For_API_Output",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "config"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"city": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorage_For_API_Output')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDatasetBlob_CurrentWeather')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorage_For_API_Output",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "current-weather-output-files"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorage_For_API_Output')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDatasetBlob_ForecastedWeather')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorage_For_API_Output",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "forecasted-weather-output-files"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorage_For_API_Output')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_CurrentWeather')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkedRestService_CurrentAndForecasted_Weather",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"q": {
						"type": "string",
						"defaultValue": "Pune"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "data/2.5/weather?APIKEY=3b57dd0a2acb41fc8430fc63feb7e474&q=@{item().City}"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedRestService_CurrentAndForecasted_Weather')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_ForecastedWeather')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkedRestService_CurrentAndForecasted_Weather",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"q": {
						"type": "string",
						"defaultValue": "Solapur"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "data/2.5/forecast?mode=json&APIKEY=3b57dd0a2acb41fc8430fc63feb7e474&q=@{item().City}"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedRestService_CurrentAndForecasted_Weather')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobStorage_For_API_Output')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is blob storage to store the output of the API Call.",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BlobStorage_For_API_Output_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LinkedRestService_CurrentAndForecasted_Weather')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This linked service connects to http://api.openweathermap.org/",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LinkedRestService_CurrentAndForecasted_Weather_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('LinkedRestService_CurrentAndForecasted_Weather_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LinkedRestService_CurrentAndForecasted_Weather_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ETL_Weather_Analytics_Daily_Execution')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is scheduled ETL to run everyday at 8.30 AM UTC to capture current and forecast weather data for given 5 cities",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Outer_Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-09-20T16:32:00.000Z",
						"endTime": "2019-10-18T16:32:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Outer_Pipeline')]"
			]
		}
	]
}